html {
font-family: sans-serif;
}

h2 {
    color:  darkslateblue;
}

section {
    background-color: rgb(195, 214, 231);
    min-width: 400px;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
}

.card {
    margin: 25px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    min-width: 275px; 
}

dt {
    font-size: large;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dd {
    margin: 0;
    word-spacing: 1px;
    line-height: 25px;
}

b {
    color: cornflowerblue;
    color: lightsalmon;
}

p {
    font-size: smaller;
    color: darkgray;
    cursor: pointer;
}
